/* layout */

#container {
  @extend .flex-box-column;
}

#wrap {
  margin: 0;
  padding-top: 40px;
  @extend .flex-box-column;
  @extend .flex-one;
}

// Override header stretching to half the screen
#header {
  flex: none;
}

// Remove unnecessary template header
#fixed_header {
  display: none;
}

// make every content container flex-y and stretch to 100% height
#layout, #main, #fixed_content, #content, .cliche-editor, .dyole-editor, .container-fluid, .main, .page {
  width: 100%;
  max-width: 100%;
  padding: 0;
  @extend .flex-box-column;
  @extend .flex-one;
}


.cliche-editor .page .content {
  @extend  .flex-one-height;
}

/* forms */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
.tags {
  width: 100%;
  border-radius: 0;
  border: 1px solid #ccc;
  margin: 0;

  &:hover {
    border-color: #bbb;

    &:focus, &.focused {
      border-color: darken(#66afe9, 20);
    }
  }

  &:focus, &.focused {
    border-color: #66afe9;
  }
}

input[type="checkbox"], input[type="radio"] {
  margin: 4px 0 0;
  display: inline-block;
  height: auto;
  width: auto;
}

label.checkbox {
  margin: 10px 10px 10px 20px;
}

.modal-header .modal-title .checkbox {
  margin-top: 5px;
}

.sbg-feedback-header {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;;
}


/* layout structure */
.row {
  border: none;
}

.modal-header {
  background: transparent;
  overflow: hidden;
  .modal-title {
    padding: 0;
  }

  button.close {
    height: auto;
  }
}

html {
  // to override normalize because SBG works with rem units for font
  // rem is relative to the root, in this case html
  // if this changes on SBG, should be changed here too!
  font-size: 87.5%;
  line-height: 1.57143em;
}

