/* layout */

#container {
  @extend .flex-box-column;
}

#wrap {
  margin: 0;
  padding-top: 40px;
  @extend .flex-box-column;
  @extend .flex-one;
}

#content, #main, .cliche-editor, .dyole-editor, .container-fluid, .main, .page {
  width: 100%;
  max-width: 100%;
  padding: 0;
  @extend .flex-box-column;
  @extend .flex-one;
}


/* forms */

input[type="text"], input[type="password"], select, textarea {
  width: 100%;
}

input[type="checkbox"], input[type="radio"] {
  margin: 2px 0 0;
  display: inline-block;
}

label.checkbox {
  margin: 10px 10px 10px 20px;
}

.modal-header .modal-title .checkbox {
  margin-top: 5px;
}

.sbg-feedback-header {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;;
}


/* layout structure */
.row {
  border: none;
}

.modal-header {
  background: transparent;
  .modal-title {
    padding: 0;
  }

  button.close {
    height: auto;
  }
}

.btn-warning {
  @extend .btn-danger;
}

.has-error {
  @include form-control-validation(#D91E18, #D91E18);
}