<div class="heading">
    <div class="main-heading">

        <span class="tool-name">
            <span class="heading-text">

                <!--Project-->
                <span class="project-name">
                    <a href="" ng-href="/u/{{ ::view.globals['projectOwner'] }}/{{ ::view.globals['projectSlug']}}/apps/"
                       title="Go to project"
                       target="_self">
                        {{ ::view.globals.projectSlug }}
                    </a>
                </span>

                <span class="separator">/</span>

                <!--App name-->
                <strong class="app-name">
                    <a ng-href="/u/{{ ::view.globals['projectOwner']}}/{{ ::view.globals['projectSlug']}}/apps/#{{ ::view.globals['appName'] }}/"
                       title="Go to tool's detail page"
                       target="_self">
                        {{ ::view.globals.appName }}
                    </a>
                </strong>

                <span class="separator">/</span>

                <!--Revision-->
                <span class="app-revision">
                    <a href ng-click="changeRevision()" target="_self">
                        {{ ::view.tool['sbg:revision'] }}
                    </a>

                    <strong class="changes-mark"
                            ng-if="form.tool.$dirty"
                            uib-tooltip="There are changes in your tool"
                            tooltip-placement="right">
                        <i class="fa fa-asterisk"></i>
                    </strong>
                </span>
            </span>

        </span>



        <div class="actions pull-right">

            <button type="submit"
                    ng-click="updateTool()"
                    ng-if="view.user && view.user.id === view.app.user._id"
                    ng-disabled="view.saving || !form.tool.$dirty"
                    class="app-save-btn btn btn-default">
                <i class="fa fa-save"></i> Save
            </button>

            <button class="btn btn-default" ng-click="runApp()" ng-disabled="view.saving" ><i class="fa fa-play"></i> Run</button>

            <div class="btn-group right"  uib-dropdown is-open="status.isopen">
                <button type="button"  class="btn btn-default dropdown-toggle" uib-dropdown-toggle id="main_dropdown_button">
                    <i class="fa fa-cog"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href ng-click="toolSettings()" id="dropdown_settings">
                            <i class="fa fa-cog"></i>
                            <span>Settings</span>
                        </a>
                    </li>

                    <li>
                        <a href ng-click="loadJsonEditor()" id="dropdown_import">
                            <i class="fa fa-cloud-download"></i>
                            <span>Import</span>
                        </a>
                    </li>

                    <li>
                        <json-preview title="Tool JSON" json="{{ view.tool }}" id="dropdown_tool_json"></json-preview>
                    </li>

                    <li>
                        <json-preview title="Job JSON" json="{{ view.job }}" id="dropdown_job_json"></json-preview>
                    </li>
                </ul>
            </div>
        </div>
        <!-- # .actions -->
    </div>

</div>