<div class="heading">
    <div class="main-heading">

        <div class="tool-name">
            <span class="heading-text" title="{{ ::view.app.label }}">
                <a href="" title="Go back to project">{{ ::view.app['sbg:projectSlug'] }}/</a>
                {{ ::view.app.label }}
            </span>
            <button class="version revision btn" ng-click="changeRevision()"><i class="fa fa-tag"></i> v{{ ::view.tool['sbg:revision'] }}</button>
        </div>
        <div class="actions pull-right">

            <button type="submit"
                    ng-click="updateTool()"
                    ng-if="view.user && view.user.id === view.app.user._id"
                    ng-disabled="view.saving"
                    class="app-save-btn btn btn-primary">
                <i class="fa fa-save"></i> Save
            </button>

            <div class="btn-group right" ng-class="{open: view.isMenuVisible}">
                <button type="button" ng-click="toggleMenu()" class="btn btn-default dropdown-toggle">
                    <i class="fa fa-cog"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" ng-click="toggleMenu()">
                    <!--<li><a href ng-click="loadJsonEditor()"><i class="fa fa-cloud-download"></i> <span>Import</span></a></li>-->
                    <!--<li ng-if="view.user">-->
                        <!--<a href ng-disabled="view.saving" ng-click="forkTool()">-->
                            <!--<i class="fa fa-code-fork"></i> <span>Fork</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li ng-if="view.user && view.user.id === view.app.user._id && !view.app.repo.is_public">-->
                        <!--<a href ng-disabled="view.saving" ng-click="deleteRevision()">-->
                            <!--<i class="fa fa-trash"></i> <span>Delete</span>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li>
                        <json-preview title="Tool JSON" json="{{ view.tool }}"></json-preview>
                    </li>
                    <li>
                        <json-preview title="Job JSON" json="{{ view.job }}"></json-preview>
                    </li>
                </ul>
            </div>
        </div>
        <!-- # .actions -->
    </div>

</div>