.file-picker {

  .select-file {

    @extend %ellipsis;

    span {
      input[type="checkbox"] {
        margin: -1px 4px 0 0;
      }
    }
  }

  thead th {
    overflow: hidden;
    white-space: nowrap;
  }

  tbody tr {
    cursor: pointer;

    td.select-file {
      max-width: 260px;
    }
  }
}

.file-picker-modal {
  .modal-dialog {
    width: $modal-xl;
  }
}