/** anything related to styling modals **/

.modal-node {
  li .checkbox {
    margin: 0;
  }
}

.input-connections {
  float: left;
  margin-top: 5px;

  ul {
    padding-left: 15px;

    .connection {
      padding-bottom: 3px;
      cursor: pointer;
    }
  }
}