/** anything related to styling modals **/

.modal-node {
  li .checkbox {
    margin: 0;
  }
}

.input-connections {
  float: left;

  ul {
    padding-left: 10px;
  }

  .connection {
    cursor: pointer;
  }
}