<div class="form-group"
     ng-hide="ignoreFiles && view.itemsType === 'File'"
     ng-class="{required: view.required, 'has-error': view.required && view.model.length === 0 && !isDisabled}">

    <div class="control-label">

        <div class="icons" ng-if="exposed">
            <label ng-if="view.itemsType !== 'File'" tooltip="Expose">
                <input ng-disabled="view.includeInPorts" type="checkbox" ng-model="view.expose" ng-change="exposeParams()">
                <i class="fa" ng-class="{'fa-lock': view.expose, 'fa-unlock-alt': !view.expose, 'disabled': view.includeInPorts}"></i>
            </label>

            <label tooltip="Include in Ports">
                <input type="checkbox" ng-model="view.includeInPorts" ng-change="includeInPorts()">
                <i class="fa" ng-class="{'fa-toggle-on': view.includeInPorts, 'fa-toggle-off': !view.includeInPorts}"></i>
            </label>
        </div>

        <span class="input-key" title="{{ ::view.name }}">
            <span class="input-key-inner">{{ ::view.name }}</span>
        </span>

    </div>

    <div class="input-property-body">
        <enum
             ng-model="view.model"
             type="view.itemsType"
             properties="view.items.fields"
             symbols="view.items.symbols"
             is-required="view.required"
             exposible="{{ view.exposible }}"
             form="form"
             is-disabled="isDisabled">
        </enum>
    </div>

</div>