<div class="form-group" ng-class="{required: view.required, 'has-error': (inputForm.inputBoolean.$invalid && !isDisabled)}">

    <div ng-if="exposed" class="control-label">

        <div class="icons">
            <label  class="expose" tooltip="Expose">
                <input ng-disabled="view.includeInPorts" type="checkbox" ng-model="view.expose" ng-change="exposeParams()">
                <i class="fa" ng-class="{'fa-lock': view.expose, 'fa-unlock-alt': !view.expose, 'disabled': view.includeInPorts}"></i>
            </label>

            <label tooltip="Include in Ports" class="include-in-ports">
                <input type="checkbox" ng-model="view.includeInPorts" ng-change="includeInPorts()">
                <i class="fa" ng-class="{'fa-toggle-on': view.includeInPorts, 'fa-toggle-off': !view.includeInPorts}"></i>
            </label>
        </div>

        <span class="input-key" title="{{ view.name }}">{{ view.name }}</span>
    </div>

    <div class="input-property-body">

        <div class="checkbox">
            <label title="{{ ::view.name }}">
                <input type="checkbox" name="inputBoolean" ng-model="view.model" ng-disabled="isDisabled">
                {{ ::view.name }}
            </label>
        </div>

    </div>
</div>