<div class="form-group" ng-class="{required: view.required, 'has-error': (inputForm.inputBoolean.$invalid && !isDisabled)}">

    <div ng-if="exposed" class="control-label">

        <div class="icons">
            <i class="fa" ng-class="{'fa-lock': view.expose, 'fa-unlock-alt': !view.expose}" tooltip="Expose" ng-click="view.expose = !view.expose"></i>
            <i class="fa" ng-class="{'fa-toggle-on': view.includeInPorts, 'fa-toggle-off': !view.includeInPorts}" ng-click="includeInPorts()" tooltip="Include in Ports"></i>
        </div>

        <span class="input-key" title="{{ view.name }}">{{ view.name }}</span>
    </div>

    <div class="input-property-body">

        <div class="checkbox">
            <label title="{{ ::view.name }}">
                <input type="checkbox" name="inputBoolean" ng-model="view.model" ng-disabled="isDisabled">
                {{ ::view.name }}
            </label>
        </div>

    </div>
</div>